{% if breadcrumbs|length %}
    {%- spaceless -%}
        <ol id="{{ listId }}" class="breadcrumb hidden-print {{ listClass|default('') }}">
            {% for b in breadcrumbs %}
                <li class="{% if loop.last %}active{% endif %} {{ itemClass|default('') }}" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                    {% if b.url %}
                    <a href="{{ b.url }}" itemprop="url"{% if linkRel is defined and linkRel|length %} rel="{{ linkRel }}"{% endif %}>
                        {% endif %}
                        <span itemprop="title">{{- b.text -}}</span>
                        {% if b.url %}
                    </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    {%- endspaceless -%}
{% endif %}
